<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="flex-item">
            <div class="welcome">Welcome!<br>Regional Electric Power Networks JSC</div>
            <a class="a-button" href="{%url 'login'%}">Sign In</a>
            <span class="small-text"> - Need a new account? Sign Up - </span>
            <a class="a-button" href="{%url 'signup'%}">Sign Up</a></div>
        <div class="flex-item">
            <div class="web-title">Askue Department</div>
            <img src="/static/img/sun.jfif" class="sun">
            <img src="/static/img/panel.jpg" class="panel">
        </div>

    </div>
    </div>

</body>

</html>